.profile {
  margin: 15px auto;
  overflow: hidden;
  width: 300px;
  border: solid 1px #000;
  border-radius: 10px;
  background: linear-gradient(
    132deg,
    rgb(226, 255, 255) 0%,
    rgb(188, 215, 222) 31%,
    rgb(149, 174, 174) 100%
  );
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.avatar {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-top: 15px;
  border-radius: 50%;
}

.name {
  color: #362e2e;
}

.tag {
  color: #151111;
}

.location {
  color: #272626;
}

.stats {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid black;
}

.stats-item {
  flex-basis: calc(100% / 3);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
  background-color: #b1d3d3;
}

.stats-item-even {
  border-right: 1px solid black;
  border-left: 1px solid black;

  background-color: #9ab9b9;
}

.label {
  color: #000;
}

.quantity {
  color: #000;
}
